ytd-rich-section-renderer {
    display: none !important;
}

ytd-guide-entry-renderer:has(a[title="Shorts"]) {
    display: none !important;
}

ytd-mini-guide-entry-renderer:has(a[title="Shorts"]) {
    display: none !important;
}

yt-tab-shape[tab-title="Shorts"] {
    display: none !important;
}